.sidemenu{
    width: 270px;
    height: 100%;
}
.imageandtext{
    float: left;
    
}
.sidehead{
    background-color: #3f50b5;
}
.headingtext{
    color:#ffffff;
}
.userbox{
    width: 40px;
    height: 40px;
    background-color: #bdbdbd;
}
.letterk{
    color: #ffffff;
}
.sideitemnavigation ul{
    list-style: none;
}
.sideitemnavigation li:hover{
    background-color: #eeeff8;
    color: #5383ff;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}
.iconleft{
    height: 40px;
    width: 40px;
}
.iconleft:hover{
    background-color: #d3d3d3;
    border-radius: 20px;
}
.lefticon{
    color: #ffffff;
}